.main {
	width: calc(100% - 2px);
	height: 40px;
	border-bottom: 1px solid #ddd;
	margin: 5px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.indent {
	background: #ddd;
	width: 50px;
	height: 100%;
}

.text {
	padding: 0px 10px;
}

.arrow {
	cursor: pointer;
	border: 1px solid #ddd;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 0 3px;
}
.arrow:hover {
	color: #18dc60;
}
.indent-text {
	display: none;
}
